* {
    box-sizing: border-box;
}

body{
    background-color: #00C1C8;
}

.headDiv{
    margin-top: 97px;
    text-align: center;
}

.appleLogo{
    margin: auto;
    width: 106px;
    height: 126px;
}

.logoTextDiv{
    margin-top: 37px;
}

.logoText{
    font-family: Arial;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 31px;
}

.formDiv{
    background-color: #ffffff;
    border: 1px solid #707070;
    margin: 0px 149px;
    padding: 39px 144px 51px 56px;
}

label, .radioSpan{
    font-family: Arial;
    font-size: 31px;
    color: #555555;
}

::placeholder{
    color: #B7B7B7;
}

input[type=text], input[type=email], input[type=password]{
    padding: 6px 0px;
    outline: none;
    font-family: Arial;
    margin-top: 12px;
    border: none;
    border-bottom: 3px solid #00C1C8;
    width: 100%;
    font-size: 16px;
}

select{
    padding: 6px 0px;
    color: #B7B7B7;
    outline: none;
    font-family: Arial;
    margin-top: 12px;
    border: none;
    border-bottom: 3px solid #00C1C8;
    width: 100%;
    font-size: 16px;
}

.lableDiv{
    margin-top: 28px;
}

.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}

.radioLabel{
    display: inline;
    margin: 0px 8px;
}

#femaleLabel{
    margin-left: 33px;
}

.customRadio {
    display: none;
}

.customRadio:checked + .radioLabel:after {
    background: none repeat scroll 0 0 #00C1C8;
    border-radius: 50px;
    content: " ";
    font-size: 36px;
    height: 14px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 14px;
}

.customRadio + .radioLabel {
    background-color: #ffffff;
    border: 2px solid #00C1C8;
    border-radius: 50px;
    display: inline-block;
    padding: 11px;
    position: relative;
}

.selectOption{
    color: #000000;
}

.container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-family: Arial;
    font-size: 31px;
    color: #555555;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border: 2px solid #00C1C8;
    background-color: #ffffff;
}
  
.container input:checked ~ .checkmark {
    border: 2px solid #00C1C8;
    background-color: #ffffff;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 11px;
    top: 0px;
    width: 8px;
    height: 25px;
    border: 2px solid #00C1C8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.conditionSpan{
    color: #00C1C8;
}

.btnDiv{
    margin-top: 45px;
}

.submitBtn {
    background-color: #00C1C8;
    border: none;
    color: #ffffff;
    padding: 15px 61px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 2px solid #00C1C8;
    cursor: pointer;
}

.cancelBtn{
    margin-left: 12px;
    background-color: #ffffff;
    color: #00C1C8;
}

.flexDiv{
    margin: 45px 149px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}
  
.flex-item-left{
    background-color: #ffffff;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/19/16/html-154434_960_720.png");
    background-size: contain;
    background-size: cover;
    background-position: 0px -20px;
    flex: 40%;
    margin-right: 25px;
    border: 1px solid #707070;
    height: 522px;
} 

.flex-item-right  {
    background-color: #ffffff;
    flex: 40%;
    margin-left: 25px;
    border: 1px solid #707070;
    height: 522px;
}

.pictureTag{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 990px) {
    .headDiv{
        margin-top: 47px;
    }

    .appleLogo{
        width: 53px;
        height: 63px;
    }

    .logoTextDiv{
        margin-top: 17px;
    }

    .logoText{
        font-size: 21px;
    }

    .formDiv{
        margin: 0px 29px;
        padding: 20px;
    }

    label, .radioSpan{
        font-size: 16px;
    }
    
    .lableDiv{
        margin-top: 28px;
    }
    
    .radioLabel{
        margin: 0px 8px;
    }
    
    #femaleLabel{
        margin-left: 5px;
    }
    
    .customRadio {
        display: none;
    }
    
    .container {
        font-size: 16px;
    }
    
    .submitBtn {
        padding: 15px 15px;
    }

    .flexDiv{
        margin: 45px 29px;
    }
    
    .flex-item-left, .flex-item-right {
        flex: 100%;
        margin: 0;
        height: 400px;
    }

    .flex-item-right{
        margin-top: 49px;
    }
}