* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
}

header.navHeader nav {
    background-color: #003865;
}

header.navHeader nav .navbar-brand {
    color: #ffffff !important;
}

header.navHeader nav .navbar-brand .row .col img{
    width: 50px;
    margin: auto;
}

header.navHeader nav .navbar-brand .row .col{
    display: flex;
}

header.navHeader nav .navbar-brand .row .col p{
    margin: auto;
    font-weight: bold;
}

header.navHeader nav div ul li a{
    color: #ffffff !important;
    font-weight: bold;
}

.sliderSection {
    margin-top: 70px;
}

.carouselImg{
    height: 555px;
    width: 100%;
}

.colSec{
    padding: 30px;
}

section.colSec .container-fluid .row div {
    background-color: #ffffff;
    border: 10px solid #f9f9f9;
    padding: 10px;
}

section.colSec .container-fluid .row div .colTitle {
    text-align: center;
    color: #003865;
    font-weight: bold;
    font-size: 20px;
}

.footerSec{
    background-color: #003865;
    padding: 20px;
}

footer.footerSec .container-fluid .row div .colTitle{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

footer.footerSec .container-fluid .row div .colText{
    color: #ffffff;
    font-size: 15px;
}

@media all and (max-width: 768px) {
    .carouselImg{
        height: 400px;
    }
}

@media all and (max-width: 576px) {
    .carouselImg{
        height: 300px;
    }
}